
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  justify-content: center;
  background: rgba(255,255,0,0.12); /*background color*/
}

section.member{
    background: rgb(255, 175, 129);
    margin: 20px 20px 0 20px;
    padding: 2em 3em;
    margin-top: 100px;
  }
  
  section.member h1{
    color: white;
  }
  
  section.member img{
    width: 250px;
    height:250px;
    border: 1px solid rgb(255, 255, 255);
  }
  
  section.member ul{
    font-size: larger;
    line-height: 2.5em;
  }
  
  /* @media screen and (max-width:712px){
    section.member ul{
      position: initial;
        padding-top: 0;
        padding-left: 0;
        line-height: 2.5em;
    }
  } */
  
  section.work{
    background: lightblue;
    margin: 5px 20px 20px 20px;
    padding: 2em;
    font-size: 18px;

  }
  
  section.work h2{
    font-size: 28px;
    text-align: center;
    color: rgb(9, 98, 139);
    background-color: black;
    padding:50px;
  }
  
  @media screen and (max-width:1395px){
    section.work img{
    width: 100%;
    height: auto;
    }
  }
  
  section ul li a.github{
    text-decoration: none;
  }

  div.multiple_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
  }
  
  /*------------------------------------------------------------*/
  /*--------------------------FOOTER----------------------------*/
  /*------------------------------------------------------------*/
  footer {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 20px 20px;
    text-align: center;
  }
  
  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  footer li,section.member ul.rrss li{
      display: inline-block;
  }

  footer  a, section.member a {
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: relative;
    text-indent: -9999999px;
    top: -17px;
    width: 50px;
  }

  footer .github a, section.member .github a {
    background-image: url("github_logo.png");
  }

  footer .twitter a, section.member .twitter a  {
    background-image: url("twitter_logo.png");
  }

  .hamb {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2.5em;
    z-index: 2;
  }
  
  .hamb a {
    color: black;
    text-decoration: none;
  }